Pulzní oxymetrie Truksa, Tvrdík/Kapitoly/Teoreticka/__latexindent_temp.tex
Pulzní oxymetrie Truksa, Tvrdík/main.log
Pulzní oxymetrie Truksa, Tvrdík/main.fls
Pulzní oxymetrie Truksa, Tvrdík/main.fdb_latexmk
Pulzní oxymetrie Truksa, Tvrdík/main.aux
Pulzní oxymetrie Truksa, Tvrdík/main.synctex(busy)
